.station-sidebar .ant-tabs-vertical .ant-tabs-tab {
  width: 55px;
  height: 55px;
  background: #212121;
  color: #fff;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background ease-in-out 150ms, color ease-in-out 150ms,
    border-right ease-in-out 150ms;
}

.station-sidebar .ant-tabs-tab.ant-tabs-tab-active {
  border-right: none;
}

.station-sidebar .ant-tabs-ink-bar {
  display: none !important;
}

.station-sidebar .ant-tabs-vertical .ant-tabs-bar,
.station-sidebar .ant-tabs-vertical .ant-tabs-content {
  border: none;
}
