.auth-modal {
  position: relative;
}

.auth-modal .ant-tabs-bar {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.auth-modal .ant-tabs-bar .ant-tabs-tab {
  margin: 8px 32px;
  font-size: 16px;
}

.auth-modal .ant-tabs-bar .ant-tabs-tab:hover {
  color: #ef5350;
}
